node-dashboard-app/dash-app.js
[{"id":"1f997bb2.769234","type":"tab","label":"Labchain Node Dashboard","disabled":false,"info":""},{"id":"ede925d9.a2a548","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Blockchain Node Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"227d5003.1e4e7","type":"ui_tab","z":"","name":"Labchain Node Dashboard","icon":"dashboard","order":1},{"id":"c815d8b.a867f28","type":"ui_group","z":"","name":"Mining Status","tab":"227d5003.1e4e7","order":5,"disp":true,"width":"9","collapse":false},{"id":"a695a371.a37ad","type":"mqtt-broker","z":"","name":"Node Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"0","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9e3f329.5c362d","type":"ui_group","z":"","name":"Labchain Status","tab":"227d5003.1e4e7","order":7,"disp":true,"width":"9","collapse":false},{"id":"b6cb3765.93ff58","type":"ui_group","z":"","name":"Connected Nodes","tab":"227d5003.1e4e7","order":6,"disp":true,"width":"10","collapse":false},{"id":"e15081fc.6ed11","type":"ui_group","z":"","name":"Block Explorer","tab":"227d5003.1e4e7","order":8,"disp":true,"width":"9","collapse":false},{"id":"a65e2286.8eceb","type":"ui_group","z":"","name":"Labchain Length","tab":"227d5003.1e4e7","order":1,"disp":true,"width":"12","collapse":false},{"id":"8d1c5650.967a78","type":"ui_group","z":"","name":"Difficulty","tab":"227d5003.1e4e7","order":2,"disp":true,"width":"12","collapse":false},{"id":"41944926.755828","type":"ui_group","z":"","name":"Blockchain Memory","tab":"227d5003.1e4e7","order":3,"disp":true,"width":"12","collapse":false},{"id":"f87d986f.282328","type":"ui_group","z":"","name":"Connected Nodes","tab":"227d5003.1e4e7","order":4,"disp":true,"width":"12","collapse":false},{"id":"17b61795.c74f98","type":"ui_switch","z":"1f997bb2.769234","name":"","label":"Stop Mining","group":"c815d8b.a867f28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1049,"y":83,"wires":[["548b7a49.817be4"]]},{"id":"548b7a49.817be4","type":"mqtt out","z":"1f997bb2.769234","name":"mine flag","topic":"mine","qos":"","retain":"","broker":"a695a371.a37ad","x":1281,"y":89,"wires":[]},{"id":"db3a403e.3e537","type":"mqtt in","z":"1f997bb2.769234","name":"LC Status","topic":"bc_status","qos":"0","broker":"a695a371.a37ad","x":74,"y":168,"wires":[["5146fe4d.d7268"]]},{"id":"2196f841.c73048","type":"ui_text","z":"1f997bb2.769234","group":"9e3f329.5c362d","order":0,"width":0,"height":0,"name":"Labchain Length","label":"Labchain Length","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":20,"wires":[]},{"id":"61d1943e.6b0a5c","type":"ui_text","z":"1f997bb2.769234","group":"9e3f329.5c362d","order":0,"width":0,"height":0,"name":"Number of Blocks","label":"Number of Blocks","format":"{{msg.payload}}","layout":"row-spread","x":676,"y":66,"wires":[]},{"id":"e452c64e.6b1fa8","type":"ui_text","z":"1f997bb2.769234","group":"9e3f329.5c362d","order":0,"width":0,"height":0,"name":"Number of Transactions","label":"Number of Transactions","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":120,"wires":[]},{"id":"1aa19a73.2c52b6","type":"ui_text","z":"1f997bb2.769234","group":"c815d8b.a867f28","order":3,"width":0,"height":0,"name":"Minimum Mining Time","label":"Minimum Mining Time","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":200,"wires":[]},{"id":"59f2544b.56d8ac","type":"ui_text","z":"1f997bb2.769234","group":"c815d8b.a867f28","order":4,"width":0,"height":0,"name":"Maximum Mining Time","label":"Maximum Mining Time","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":240,"wires":[]},{"id":"53c3af30.db138","type":"ui_text","z":"1f997bb2.769234","group":"c815d8b.a867f28","order":5,"width":0,"height":0,"name":"Average Mining Time","label":"Average Mining Time","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":280,"wires":[]},{"id":"23ae0552.15f14a","type":"ui_chart","z":"1f997bb2.769234","name":"Connected Nodes","group":"f87d986f.282328","order":0,"width":0,"height":0,"label":"Number of Nodes","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No connected nodes yet.","dot":true,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":680,"wires":[[],[]]},{"id":"95491395.51719","type":"ui_gauge","z":"1f997bb2.769234","name":"Current Difficulty","group":"c815d8b.a867f28","order":2,"width":0,"height":0,"gtype":"gage","title":"Current Difficulty","label":"","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":160,"wires":[]},{"id":"5146fe4d.d7268","type":"function","z":"1f997bb2.769234","name":"Status Splitter","func":"var outputMsgs = [];\nvar msgs = msg.payload.split(\",\");\nfor (var m in msgs) {\n    outputMsgs.push({payload:msgs[m]});\n}\nreturn outputMsgs;","outputs":9,"noerr":0,"x":281,"y":168,"wires":[["2196f841.c73048","31280ed0.5539e2"],["61d1943e.6b0a5c"],["e452c64e.6b1fa8"],["95491395.51719","545db9e8.c76b08"],["23ae0552.15f14a"],["1aa19a73.2c52b6"],["59f2544b.56d8ac"],["53c3af30.db138"],["bdbcfaee.3647d8"]],"outputLabels":["msgs","","","","","","","","",""]},{"id":"a91e275b.4ce8e8","type":"ui_form","z":"1f997bb2.769234","name":"Get Block ID","label":"","group":"e15081fc.6ed11","order":1,"width":0,"height":0,"options":[{"label":"","value":"Block ID","type":"text","required":true}],"formValue":{"Block ID":""},"payload":"","topic":"","x":970,"y":200,"wires":[["e4b47954.375938"]]},{"id":"e4b47954.375938","type":"mqtt out","z":"1f997bb2.769234","name":"Get Link","topic":"get_link","qos":"","retain":"","broker":"a695a371.a37ad","x":1215,"y":199,"wires":[],"inputLabels":["msg.payload['Block ID']"]},{"id":"bdbcfaee.3647d8","type":"ui_chart","z":"1f997bb2.769234","name":"Blockchain Memory Size","group":"41944926.755828","order":0,"width":0,"height":0,"label":"Blockchain Memory Size","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No running node yet.","dot":true,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":710,"y":620,"wires":[[],[]]},{"id":"545db9e8.c76b08","type":"ui_chart","z":"1f997bb2.769234","name":"Difficulty","group":"8d1c5650.967a78","order":0,"width":0,"height":0,"label":"Difficulty Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No running node yet.","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":660,"y":560,"wires":[[],[]]},{"id":"31280ed0.5539e2","type":"ui_chart","z":"1f997bb2.769234","name":"Labchain Length","group":"a65e2286.8eceb","order":0,"width":0,"height":0,"label":"Labchain Length","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No running node yet.","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":500,"wires":[[],[]]}]